<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="zemez" translate="label" sortOrder="90">
            <label>Zemez</label>
        </tab>
        <section id="ajaxwishlist" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Ajax Wishlist</label>
            <tab>zemez</tab>
            <resource>Zemez_AjaxWishlist::config_ajaxwishlist</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Ajax Wishlist Settings</label>
                <field id="version" translate="label comment" type="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Version</label>
                    <comment>Current module version.</comment>
                    <frontend_model>Zemez\AjaxWishlist\Block\Adminhtml\System\Config\Version</frontend_model>
                </field>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <comment>Set to "Yes" to add products to the Wish List without reloading the page.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_spinner" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Spinner</label>
                    <comment>Turn on to show the spinner while processing the request.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_success_message" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Success Message</label>
                    <comment>Set to "Yes" to show success message after adding the product to the Wish List.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="success_message_text" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Success Message Text</label>
                    <comment>Change the message that appears after adding the product to the Wish List.</comment>
                </field>
            </group>
        </section>
    </system>
</config>