<div class="headline">NEW LOOKS & TOP SALE</div>
<div class="swiper-container hotsale">
    <!-- ko if: getProduct() -->
    <div class="products list items product-items swiper-wrapper" data-bind="foreach: {data: productList,as:'product'}">
        <div class="item product product-item swiper-slide">
            <a data-bind="attr:{href:href}"><img data-bind="attr: {src: src}" alt="Product Image"></a>
            <div class="product details product-item-details">
                <a class="product-item-name" data-bind="attr:{href:href}"><span data-bind="text: name"></span></a>
                <div class="rating-summary" data-bind="if: review_count > 0">
                    <div class="rating-result" data-bind="style：ratting"><span></span></div>
                    <div class="reviews-actions"><a class="action view" data-bind="text:review_count"></a><span>Review</span></div>
                </div>
                <div class="sale-price">
                    <span data-bind="html: price"></span>
                </div>
                <div class="final_price" data-bind="if: final_price!=0">
                    <span data-bind="html: final_price"></span>
                </div>
                <div class="actions-primary">
                    <a class="shop_tocart" data-bind="attr:{href:href}">shop now</a>
                    <!--<a class="wishlist" data-bind="attr:{href:wishlist_url}"></a>-->
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <div class="swiper-button-next next2"></div>
    <div class="swiper-button-prev prev2"></div>
</div>